:root {
    /* Brand colors */
    --clr-primary: hsl(47, 88%, 63%);
    
    /* Backgrounds */
    --clr-bg-main: var(--clr-primary);
    --clr-bg-card: hsl(0, 0%, 100%);

    /* Neutrals */
    --clr-neutral-500: hsl(0, 0%, 42%);
    --clr-neutral-950: hsl(0, 0%, 7%);


    font-size: 16px;
}

body {
    background-color: var(--clr-primary);
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--clr-neutral-950);
}

.card {
    background-color: var(--clr-bg-card);
    max-width: 330px;
    min-width: 227px;
    padding: 22px;
    margin: 10px auto 0;
    border-radius: 20px;
    border: 1px solid var(--clr-neutral-950);
    box-shadow: 8px 8px var(--clr-neutral-950);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.tags {
    margin-top: 22px;
}

.tags a {
    text-decoration: none;
}

.tag {
    padding: 6px 12px;
    color: var(--clr-neutral-950);
    border-radius: 4px;
    margin: 0;
    font-size: clamp(.6rem, 3.2vw, .85rem);
    font-weight: 800;
    background-color: var(--clr-primary);
    display: inline;
    
}

.date {
    margin-top: 19px;
    font-size: clamp(.6rem, 3.2vw, .85rem);
}

.article-link {
    display: block;
    text-decoration: none;
}

.article-link h1 {
    margin-top: 18px;
    font-size: clamp(1rem, 5.4vw, 1.45rem);
    font-weight: 800;
    color: var(--clr-neutral-950);
}

.article-link h1:hover {
    color: var(--clr-primary);
}

.article-link p {
    color: var(--clr-neutral-500);
    font-size: clamp(.7rem, 3.7vw, 1rem);
    margin-top: 16px;
    line-height: 1.45rem;
}

.author {
    margin-top: 23px;
    padding: 0;
    display: flex;
    align-items: center;
}

.author img {
    width: clamp(20px, 7vw, 31px);
    height: auto;
}

.a-name {
    display: inline;
    margin-left: 12px;
    font-size: clamp(.6rem, 3.2vw, .85rem);
    font-weight: 800;
}

.attribution {
    font-size: clamp(.46rem, 2.5vw, 11px); 
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 430px) {
    .card {
        margin-top: 25%;
        max-width: 75%;

    }

    .card > img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}